.main-heading{
    color: blue;
}
.input-style{
    width: 40%;
    margin: 0px auto;
}
.input-field-style{
    width: 300px;
    border: none;
    padding: 20px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
}
.row-style{
    width: 100%;
    margin: 0px auto;
}
.style-content{
    background-color: #5462ff;
    color: #FFC300;
}
body{
    background-color: #d29d2b48;
    font-family:Arial, Helvetica, sans-serif;
}
.modal-body{
    background-color: rgba(128, 128, 128, 0.205);
}
.modal-top-style{
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.342);
}
.modal-bottom-style{
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.342);
}
.label-style{
    color:purple;
    font-weight: 700;
}
.info-style{
    color: black;
    font-weight: 700;
}
.des-heading{
    color: purple;
}
#spinner{
    display: none;
}
.error-mgs{
    width: max-content;
    margin:-10px auto 0px;
    display: none;
}